body {
	font-family: Roboto
	color: #222222;
}
h1 {
	font-family: Капитель;
	font-size: 2rem
	font-weight: 400;
	text-align: center;
	border: 2px solid #aaaaaa
}
h2 {
	font-size: 1.5rem
	font-weight: 500;
	border: 1px solid #aaaaaa
}
h3 {
	font-size: 1.1rem
	font-weight: 600;
}
h4 {
	font-size: 1.1rem
	font-weight: 600;
}
div {
	margin: 15 40 15 40;
    padding: 15 15 15 15;
    width: 250px; 
    background-color:  #eeeeee;
    border: 1px solid  #dddddd;
    border-radius: 3px;
}
img {
	margin: 15 40 15 40;
    padding: 15 15 15 15;
    width: 250px; 
    background-color:  #eeeeee;
    border: 1px solid  #dddddd;
    border-radius: 3px;
    border-radius: 3px;
}
figcaption {
     width: 0.8
     font-style: italic;
   }
p {
	text-align: justify;
	text-indent: 40px;
}
a {
	color: #0088ff;
	text-decoration: none;
}
blockquote {
	margin:  15 15 15 15;
	font-style: italic;
	background-color:  #eeeeee;
	border-radius: 3px;
	border: 1px solid #dddddd;
}
